<tr>
  <td><%= post.id %></td>
  <td><%= truncate(post.rationale) %></td>
  <td><%= post.user.first_name %></td>
  <td><%= post.created_at %></td>
  <td>
    <%= link_to :edit, edit_post_path(post.id)%>
    <%= link_to :delete, post_path(post.id), method: :delete%>
  </td>
</tr>
